<html>
<body>

	<table id="loc_table" class="loc_table" style="font-family: sans-serif; -webkit-font-smoothing: antialiased; overflow: auto; width: 80%; margin-left: 10%; margin-right: 10%;">
		<thead>
			<th style="background-color: rgb(75, 153, 195); color: white; font-weight: normal; text-align: center; cursor: default; max-width: 60px; min-width: 60px; padding: 10px 20px;" align="center" bgcolor="rgb(75, 153, 195)">Date</th>
			<th style="background-color: rgb(75, 153, 195); color: white; font-weight: normal; text-align: center; cursor: default; max-width: 60px; min-width: 60px; padding: 10px 20px;" align="center" bgcolor="rgb(75, 153, 195)">Time</th>
			<th style="background-color: rgb(75, 153, 195); color: white; font-weight: normal; text-align: center; cursor: default; max-width: 60px; min-width: 60px; padding: 10px 20px;" align="center" bgcolor="rgb(75, 153, 195)">Temperature</th>
  		</thead>
		<tbody>   
  			{% for line in lines %}
    		<tr>
				<td style="background-color: #fff; color: rgb(111, 111, 111); text-align: center; cursor: default; max-width: 60px; min-width: 60px; height: 25px; padding: 10px 20px;" align="center" bgcolor="#fff">{{ line['date'] }}</td>
				<td style="background-color: #fff; color: rgb(111, 111, 111); text-align: center; cursor: default; max-width: 60px; min-width: 60px; height: 25px; padding: 10px 20px;" align="center" bgcolor="#fff">{{ line['localtime'] }}</td>
      			<td style="background-color: #fff; color: rgb(111, 111, 111); text-align: center; cursor: default; max-width: 60px; min-width: 60px; height: 25px; padding: 10px 20px;" align="center" bgcolor="#fff">{{ line['temperature'] }}</td>
      			
    		</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
