<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_sKKBGBCEhdXko1TWnxLq9wgXguT3ZHY">
    </script>

	{% block javascript %}
    <script type="text/javascript">
        {% include "scripts.js" %}
        {% include "Chart.js" %}
    </script>
	{% endblock %}

	<style type="text/css">
		{% include "styles.css" %}
	</style>
	
	<title>Weather Service</title>
</head>
<body>

<div id="top">
     
     <img src="images/logo.png" id="logo" width="38" >
     <div class='fr'>
         <h1>Weather App</h1>
         <p><i>Temperature reports</i></p>
     </div>
</div>

<div id="dataTable">
	<img src="images/add.png" id="btnAdd"></img>
	<table id="loc_table" class="loc_table">
		<thead> 
			<tr> 
				<th>Name</th> 
				<th>Latitude</th> 
				<th>Longitude</th> 
				<th colspan="4">Tools</th> 
			</tr> 
		</thead> 
		 
		</tbody>
	</table>
</div>

<div id="chartDiv">
	<a id="closeChart">Close</a>
	<canvas id="myChart"></canvas>
</div>

<div id="mapDiv"> 
	<a id="closeMap">Close</a>
	<div id="map-canvas"></div>
</div>

<div id="bottom"></div>

</body>
</html>

