/* reset.css */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #E8EEF2;
}

/**********************/
/* TOP BAR PROPERTIES */
/**********************/

#top {
    color: white;
    background: none repeat scroll 0 0 #E8513B;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#top:after {
    content: '';
    clear: both;
    display: block;
}

#logo {
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}
.fr {
    float: left;
}
h1 {
	font-family: sans-serif;
    font-size: 150%;
}


/********************/
/*  MAP PROPERTIES  */
/********************/

#mapDiv { 
   	width: 80%;
    margin-left:10%; 
    margin-right:10%;
    margin-bottom: 30px;
   	color: #6F6F6F;
   	background-color: #fff;
   	padding-top: 20px;
   	padding-bottom: 20px;
}
#map-canvas {
 	width: 90%;
	height: 500px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}

/********************/
/* CHART PROPERTIES */
/********************/

#chartDiv {
   	padding-top: 20px;
    margin-left:10%; 
    margin-right:10%;
    margin-bottom: 30px;
   	color: #6F6F6F;
   	width: 80%;
   	background-color: #fff;
}

#myChart {
	width: 90%;
    margin-left:3%; 
    margin-right:3%;
	height: 400px;
}

#closeChart, #closeMap {
	float: right;
	cursor: pointer;
	margin-right: 10px;
}

/********************/
/* TABLE PROPERTIES */ 
/********************/

#dataTable {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;
	padding-top: 20px;
}

#btnAdd {
	float: right;
	margin-right:20px;	
	width: 50px;	
	cursor: pointer;
}

#txtLatitude, #txtLongitude, #txtName{
  text-align: center;
  border: none;
  border-bottom: solid 2px #969696;
  width: 80px;
  font-size: 100%;
}

.btnEdit, .btnUpdate, .btnMap, .btnTemp, .btnDelete, .btnSave, .btnCancel{
	cursor: pointer;
}

.btnEdit:hover, .btnUpdate:hover, .btnMap:hover, .btnTemp:hover, .btnDelete:hover{
	text-decoration: underline;
}

.loc_table {
  
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  width: 80%;
  margin-left:10%; 
  margin-right:10%;
}
.loc_table th {
    background-color: rgb(75, 153, 195);
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    text-align: center;
    cursor: default;
    max-width:60px;
    min-width:60px;
}
.loc_table  td {
    background-color: #fff;
    color: rgb(111, 111, 111);
    padding: 10px 20px;
    text-align:center;
    cursor: default;
    max-width:60px;
    min-width:60px;
    height: 25px;
}